{% load static %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/index.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
    </head>
    <body>
        
        <nav class="navbar navbar-light ">
            <div class="nav-content">
                <a class='navbar-brand title' href="#">Portfolio</a>
                <a class="navbar-brand" href="#">About</a>
                <a class="navbar-brand" href="#">Service</a>
                <a class='navbar-brand' href="#">Project</a>
                <a class='navbar-brand' href="#">Contact</a> 
            </div>
        </nav>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>